.Home {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    transform-style: preserve-3d;
    scroll-behavior: smooth;

    .Home__intro {
        position: relative;
        top: 10vh;
        min-height: 70vh;
        min-width: 100%;
        transform-style: inherit;
        padding: 0;
        margin: 0;
        

        .Home__intro__bg {
            background-image: url('../images/white-and-blue-come-on-in-we-ere-open-signage-2432221.jpg');
            min-height: 90vh;
            min-width: 100%;
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            // opacity: 0.8;
            
        } 

        .Home__intro__text {
            position: absolute;
            top: 0;
            min-height: 90vh;
            min-width: 100%;
            color: white;
            background: black;
            opacity: .65;
        }
    }

    .Home__mini_gallery {
        display: flex;
        flex-direction: row;

        .Home__mini_gallery__box {
            background-image: url('../images/flat-lay-photography-of-vegetable-salad-on-plate-1640777.jpg');
            min-height: 40vh;
            min-width: 50vw;
            background-size: cover;
        }

        .Home__mini_gallery__box2 {
            background-image: url('../images/fries-with-leaves-dish-718742.jpg');
            min-height: 40vh;
            min-width: 50vw;
            background-size: cover;
        }

        .Home__mini_gallery__box3 {
            background-image: url('../images/food-plate-salad-healthy-128391.jpg');
            min-height: 40vh;
            min-width: 50vw;
            background-size: cover;
        }

        .Home__mini_gallery__box4 {
            background-image: url('../images/white-and-brown-cooked-dish-on-white-ceramic-bowls-958545.jpg');
            min-height: 40vh;
            min-width: 50vw;
            background-size: cover;
        }

    }
}