.side_drawer {
    height: 100vh;
    background-color: black;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 10vh;
    right: 0;
    min-width: 60%;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;

    .side_drawer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 90vh;

        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }
    }
}

.side_drawer.open {
    transform: translateX(0);
}