@media (max-width: 700px) {
.Navigation {
    width: 100%;
    min-height: 10vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: black;
    position: fixed;
    z-index: 2;
    // padding: 0 1.5rem 0 1.5rem;

    .Navigation__logo {
        font-family: 'Sriracha', cursive;
        color: white;
        padding: 0 0.5rem;
        
        h2 {
            padding: 0;
            margin: 0;
            height: 9vh;
            z-index: 3;
        }

        p {
            min-height: 5vh;
            padding: 0;
            margin: 0;
            color: white;
            font-size: 1.37rem;
            // background: white;
        }
    }

    .Navigation__spacer {
        flex: 1;
    }

    .Navigation__links {
        display: none;
    }
}
}

@media (min-width: 700px) {
    .Navigation {
        width: 100%;
        min-height: 15vh;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: black;
        position: fixed;
        z-index: 2;

        .Navigation__spacer {
            flex: 1;
        }
    
        .Navigation__logo {
            color: white;
            padding: 0 0.5rem;
            margin: 0;
            font-family: 'Sriracha', cursive;
            display: flex;
            flex-direction: column;                                                                                                                                                                 
            // height: 10vh;
            height: 10vh;

            h2 {
                padding: 0;
                margin: 0;
                min-height: 6vh;
                z-index: 3;
            }

            p {
                height: 4vh;
                padding: 0;
                margin: 0;
                color: white;
                font-size: 1.37rem;
                // background: white;
            }

        }

        .Navigation__links {
            display: block;
            min-width: 50vw;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a {
                color: white;
                text-decoration: none;
                min-width: 7rem;
                background: transparent;
                transition: background, color 0.3s ease;
            }

            a:hover {
                background: white;
                color: black;
                padding: 0.3rem;
                border-radius: 3px;
            }
        }
    }
    
}