.Footer {
    // position: relative;
    min-height: 70vh;

    .Footer__contacts {
        background: black;
        color: white;
        min-height: 40vh;
        padding: 2rem;
    }

    .Footer__location {
        padding: 0;
        margin: 0;
        position: relative;
        // top: 50vh;

        .Footer__location__map {
            background-image: url('../images/Screenshot from 2020-02-06 11-07-51.png');
            background-size: inherit;
            background-repeat: no-repeat;
            min-height: 50vh;
            min-width: 100vw;
            background-position: inherit;
        }

        a {
            position: absolute;
            min-height: 4vh;
            min-width: 20vw;
            background: rgb(22, 20, 20);
            color: white;
            bottom: 0.5rem;
            right: 0.5rem;
            text-decoration: none;
            border-radius: 0.5rem;
            transition: background, color 0.3s ease;
            padding: 0.4rem 0 0 0 ;
        }

        a:hover {
            background: white;
            color: black;
            border: black;
            box-shadow: 0.5px black;
        }
    }
}

@media (min-width:700px) {
    .Footer {
        min-height: 50vh;
        display: flex;
        flex-direction: row;
        // justify-content: space-around;
        align-items: center;

        .Footer__contacts {
            min-width: 50vw;
            padding: 0;
            min-height: 50vh;
            // font-size: 1.5rem;
            // min-height: 50vh;

            h1 {
                padding: 2rem 0 0 0 ;
            }
        }

        .Footer__location {
            min-width: 50vw;
            // display: block;
        }
    }
}