.Footer {
    // position: relative;
    min-height: 70vh;

    .Footer__contacts {
        background: black;
        color: white;
        min-height: 40vh;
        padding: 2rem;
    }

    .Footer__location {
        padding: 0;
        margin: 0;
        position: relative;
        // top: 50vh;
        .Footer__location__map {
            background-image: url('../images/unnamed.png');
            background-size: cover;
            min-height: 50vh;
            width: 100vw;
        }

        a {
            position: absolute;
            min-height: 4vh;
            min-width: 20vw;
            background: rgb(22, 20, 20);
            color: white;
            bottom: 0.5rem;
            right: 0.5rem;
            text-decoration: none;
            border-radius: 0.5rem;
            transition: background, color 0.3s ease;
            // padding: 0.4rem 0 0 0 ;
        }

        a:hover {
            background: white;
            color: black;
            border: black;
            box-shadow: 0.5px black;
        }


    }
}